<div class="content">
    <%= render partial: "brewery" %><br>
    <%= render partial: "brewery_beers"%>
</div>

    <br>
    <br>
<div class="bottom-nav">
    <a class="bottom-nav-link <%= active_css(edit_brewery_path(@brewery)) %>" href="/breweries/<%= @brewery.id %>/edit">Edit</a><br><br>
    <%= form_with(model: @brewery, method: :delete) do |f| %>
         <%= f.submit "Delete", class: "delete-button" %>
    <% end %>
</div>