<div class="content">
    <%= form_builder.label :name %>
    <%= form_builder.text_field :name %><br><br>

    <%= form_builder.label "ABV %" %>
    <%= form_builder.number_field :abv %><br><br>

    <%= form_builder.label :description %>
    <%= form_builder.text_area :description %><br><br>

    <%= form_builder.label :brewery %>
    <%= form_builder.collection_select(:brewery_id, Brewery.all, :id, :name, {prompt: "Select A Brewery"}) %><br><br>
    <hr><h4>Add a Comment</h4>
        <%= form_builder.fields_for :reviews, @beer.reviews.build do |reviews_field| %>
            <%= reviews_field.label :title %><br>
            <%= reviews_field.text_field :title %><br><br>

            <%= reviews_field.label :content %><br>
            <%= reviews_field.text_area :content %><br><br>

            <%= reviews_field.label :rating %><br>
            <%= reviews_field.number_field :rating %><br><br>
        <% end %> 


</div>