<div class="content">
    <%= form_builder.label :name %>
    <%= form_builder.text_field :name %><br><br>

    <%= form_builder.label "ABV %" %>
    <%= form_builder.number_field :abv %><br><br>

    <%= form_builder.label :description %>
    <%= form_builder.text_area :description %><br><br>

    <%= form_builder.label :brewery %>
    <%= form_builder.collection_select(:brewery_id, Brewery.all, :id, :name, {prompt: "Select A Brewery"}) %><br><br>


</div>