<h3><%= @beer.name %></h3>

<div class="content">
    <%= render partial: "beer" %>

    <%= link_to "See All Reviews", beer_reviews_path(@beer) %>
    <%= link_to "Add a New Review", new_beer_review_path(@beer) %>
</div>
<br><br>

<div class="bottom-nav">
    <a class="bottom-nav-link <%= active_css(edit_beer_path(@beer)) %>" href="/beers/<%= @beer.id %>/edit">Edit</a><br><br>
    <%= form_with(model: @beer, method: :delete) do |f| %>
         <%= f.submit "Delete", class: "delete-button" %>
    <% end %>
</div>

