<div class="content">
    <%= form_builder.label :title %>
    <%= form_builder.text_field :title %><br><br>

    <%= form_builder.label :content %>
    <%= form_builder.text_area :content %><br><br>

    <%= form_builder.label :rating %>
    <%= form_builder.number_field :rating %><br><br>

    <% if params[:beer_id] %>
        <%= form_builder.hidden_field :beer_id %>
    <% else %>
        <%= form_builder.collection_select(:beer_id, current_user.beers.all, :id, :name) %><br><br>
    <% end %>
</div>