<div class="content">
    <%= form_builder.label :title %>
    <%= form_builder.text_field :title %><br><br>

    <%= form_builder.label :content %>
    <%= form_builder.text_area :content %><br><br>

    <%= form_builder.label :rating %>
    <%= form_builder.number_field :rating %><br><br>

    <%= form_builder.hidden_field :beer_id %>

    <%= form_builder.label :beer %>
    <%= form_builder.collection_select(:beer_id, Beer.all, :id, :name) %><br><br>
</div>