<% if @beer %>
    <h1>New Review for <%= @beer.name %></h1>
<% else %>
    <h1>New Review</h1>
<% end %>


<%= render partial: "beers/errors", locals: {object: @review}%>

<div class="content">
    <%= form_for ([@beer, @review]) do |f| %>
        <%= render partial: "form", locals: {form_builder: f} %>
        
        <br><%= render partial: "submit_button", locals: {form_builder: f} %>

        <div class="bottom-nav">
            <br><a class="bottom-nav-link <%= active_css(reviews_path) %>" href="/reviews">Nevermind!</a>
        </div>
    <% end %>
</div>