<h2><%= @review.beer.name %></h2>

<div class="content">
    <%= render partial: "review" %>
</div>


<br><br>

<div class="bottom-nav">
    <a class="bottom-nav-link <%= active_css(edit_review_path(@review)) %>" href="/reviews/<%= @review.id %>/edit">Edit</a><br><br>
    <%= render partial: "delete_button", locals: {object: @review} %>
</div>

<%= render partial: "beers/go_back" %>

