<h1><%= @review.beer.name %></h1>

<div class="content">
    <%= render partial: "review" %>
</div>


<br><br>

<div class="bottom-nav">
    <a class="bottom-nav-link <%= active_css(edit_review_path(@review)) %>" href="/reviews/<%= @review.id %>/edit">Edit</a><br><br>
    <%= form_with(model: @review, method: :delete) do |f| %>
         <%= f.submit "Delete", class: "delete-button" %>
    <% end %>
</div>

