
<a class ="navbar-link <%= link_to "Logout", logout_path, method: "delete" %></a>
<a class="navbar-link <%= active_css(breweries_path)%>" href="/breweries">Breweries</a>
<a class="navbar-link <%= active_css(new_brewery_path)%>" href="/breweries/new">New Brewery</a>
<a class="navbar-link <%= active_css(new_beer_path)%>" href="/beers/new">New Beer</a>
<a class="navbar-link <%= active_css(beers_path)%>" href="/beers">Beers</a>
<!-- <a class="navbar-link <%= active_css(new_review_path)%>" href="/reviews/new">New Review</a> -->
<a href="/users/<%= current_user.id %>" class="navbar-link">Home</a>

    