<!DOCTYPE html>
<html>
  <head>
    <title>RailsBrewTourBuild</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div class="navbar">
          <%= navigation_bar %>
        </div>
      <div class="errors">
        <% if flash[:message] %>
            <%= flash.now[:message] %>
        <% end %>
        <%= @error %>
      </div>
        <%= yield %>
  </body>
</html>
