<!DOCTYPE html>
<html>
  <head>
    <title>RailsBrewTourBuild</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div class="nav-bar">
          <% if logged_in? %>
            <a class="navbar-link <%= active_css(root_path)%>" href="/">Home</a>
            <a class="navbar-link <%= active_css(logout_path)%>" href="/">Logout</a>
            <a class="navbar-link <%= active_css(breweries_path)%>" href="/breweries">Breweries</a>
            <a class="navbar-link <%= active_css(new_brewery_path)%>" href="/breweries/new">New Brewery</a>
            <a class="navbar-link <%= active_css(new_beer_path)%>" href="/beers/new">New Beer</a>
            <a class="navbar-link <%= active_css(beers_path)%>" href="/beers">Beers</a>
          <% else %>
            <a class="navbar-link <%= active_css(login_path)%>" href="/login">Login</a>
            <a class="navbar-link <%= active_css(signup_path)%>" href="/signup">Signup</a>
          <% end %>
        </div>
      <div>
        <% if flash[:message] %>
            <%= flash[:message] %>
        <% end %>
        <%= @error %>
      </div>
    <%= yield %>
  </body>
</html>
